<ActionBar title="Menu" icon="" class="action-bar">
</ActionBar>

<FlexboxLayout flexDirection="column">
  <StackLayout>
    <Button class="btn btn-primary btn-active" (tap)="businessByPhone()"text="Business By Phone"></Button>      
  </StackLayout>    
  <StackLayout>
    <Button class="btn btn-primary btn-active" (tap)="reviewByPhone()"text="Reviews By Phone"></Button>      
  </StackLayout>
  <StackLayout>
    <Button class="btn btn-primary btn-active" text="Business By Id"></Button>      
  </StackLayout>
  <StackLayout>
    <Button class="btn btn-primary btn-active" text="Reviews By Id"></Button>      
  </StackLayout>
  <StackLayout>
    <Button class="btn btn-primary btn-active" text="Business By Coordinates"></Button>      
  </StackLayout>
  <StackLayout>
    <Button class="btn btn-primary btn-active" text="Search By Coordinates"></Button>      
  </StackLayout>
  <StackLayout>
    <Button class="btn btn-primary btn-active" text="Search By Location"></Button>      
  </StackLayout>
  <StackLayout>
    <Button class="btn btn-primary btn-active" text="Search By Location & Term"></Button>      
  </StackLayout>
  <StackLayout>
    <Button class="btn btn-primary btn-active" text="Query"></Button>      
  </StackLayout>
</FlexboxLayout>

